<!DOCTYPE html>
<html>
<head>
    <title>Простой блок</title>
     <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 style="color: #38fd14;"> Обратка</h1>
        <form method="post" action="/">
            <div class="form-group">
                <label for="title">Тема поста </label>
                <input id="title" class="form-control" type="text" name="title" required>
            </div>
            <div class="form-group">
                <label for="content"> Текст поста</label>
                <textarea id="content" class="form-control" rows="3" name="content" required></textarea>
            </div>
            <div class="form-group">
                <label for="name">Имя</label>
                <input id="name" class="form-control" type="text" name="name" required>
            </div>
            <div class="form-group">
                <label for="age">Возраст</label>
                <input id="age" class="form-control" type="number" name="age" required>
            </div>
            <div class="form-group">
                <label for="city">Город</label>
                <input id="city" class="form-control" type="text" name="city" required>
            </div>
            <div class="form-group">
                <label for="hobby">Хобби</label>
                <input id="hobby" class="form-control" type="text" name="hobby" required>
            </div>
            <button class="btn btn-primary" type="submit">Создать пост</button>
        </form>
        <hr>
        <h2 class="mt-4" style="color: #ffc107;">Посты</h2>
        {% for post in posts %}
            <div class="card my-3">
                <div class="card-body">
                    <h4 class="card-title">{{ post.title }}</h4>
                    <p class="card-text">{{ post.content }}</p>
                    <p><strong>Имя:</strong> {{ post.name }}</p>
                    <p><strong>Возраст:</strong> {{ post.age }}</p>
                    <p><strong>Город:</strong> {{ post.city }}</p>
                    <p><strong>Хобби:</strong> {{ post.hobby }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>