<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<div class="container">
    <h1>Простой бло</h1>>
    <form method="post" action="/">
        <div>
            <label> for="title">Заголовок</label>
             <input id="title" type="text" name="title" required>
        </div>
         <div>
            <label> for="title">Текст поста</label>
             <input id="content"  name="title" rows required>
        </div>
    </form>



    


</div>





<body>

</body>
</html>